@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  font-family: "Montserrat";
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-shadow: 0 0 1px #081074, 0 0 1px #210154;
  color: inherit;
}
body.dark {
  /* background-color: var(--darkblue); */
  background-color: #000000;
  color: white;
} 
body {
  background-color: #b8b8b9;
  max-width: 800px;
  min-width: 300px;
  color: var(--white);
  color: var(--otherblue);
}

nav {
  display: flex;
  justify-content: center;
}

:root {
  --cyan: #34B0Be;
  --grey: #d1ceca;
  --blue: #242635;
  --otherblue: #040c39;
  --darkblue:#040320;
  --white: #ffffff;
  --black: #000000;
}

.fMontserrat-400 {
  font-family: "Montserrat";
}

.fMontserrat-600 {
  font-family: "Montserrat";
}

/* *********************/ /* *********************/
/* <!-- SECCION NavBar --> */
/* *********************/ /* *********************/
.navbar {
  align-items: center;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}
.navbar__btnDark {
 display: flex;
 gap: 10px;
 align-items: center;
}

.menu {
  position: fixed;
  background-color: var(--blue);
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 2rem;
  transform: translateX(-150%);
  transition: transform 0.5s;
  
}

.menu-show {
  transform: translateX(0);
  /* background-color: transparent; */
}

.bx-menu {
  font-size: 2rem;
  cursor: pointer;
   
}

.bxs-moon {
  color: #000000;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 8px;
}

.bx-sun {
  color: #000000;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  
}
.btn__spain, .btn__uk {
  border-radius: 1000px;
  width: 32px;
  height: 32px;
  padding-top: 2px;
  padding-right: 0.5px;
}

 
/* ******************** /* *********************/
/* <!-- SECCION Two Faces --> */
/* *********************/ /* *********************/


@media (max-width: 768px) {
  :root {
    --image-comparison-slider-width: 90vw;
  }
}
/* ******************** /* *********************/
/* <!-- SECCION Switch --> */
/* *********************/ /* *********************/
.switch {
  padding: 10px;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  gap: 5px;
  height: 30px;
  align-items: center;
  width: 70px;
  
}
 
.switch span {
  color: rgb(255, 255, 255);
  background: none;
  display: block;
  line-height: 30px;
  height: 25px;
  width: 25px;
}
 

.switch::after {
  content: "";
  padding: 4px;
  padding-bottom: 1px;
  display: block;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transform: 0.5s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
}
 
.switch.active {
  background-color: orange;
  color: #000000;
  
}
 
.switch.active::after {
  left: unset;
  right: 0;
}
 
.active {
  background-color: #34B0Be;
} 
 
.change {
  -webkit-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
  padding-left: 5%;
}
.language {
   display: flex;
  
}
.language img{
  max-width: 20px;
  
}
/* *********************/ /* *********************/

/* <!-- SECCION Start --> */
/* *********************/ /* *********************/
 
 .writer {
  display: flex;
  white-space: nowrap;
  border-right: 2px solid;
  width: 13ch;
  animation: typing 2s steps(13), blink .5s infinite step-end alternate;
  overflow: hidden;
  
 }
@keyframes typing {
  from { width: 0}
}
@keyframes blink {
  50% { border-color: transparent;}
}
.headerConteiner {
   padding-top: 1em;
   padding-bottom: 1em;
   box-shadow: 2px 1px 5px 2px rgb(76, 75, 77);
}
 .writerDown {
  display: flex;
  white-space: nowrap;
  border-right: 0px solid;
   
 }
@keyframes typing {
  from { width: 0}
}
@keyframes blink {
  50% { border-color: transparent;}
}
 

.whoiam {
  /* margin: auto;
  padding-bottom: 3rem;
  padding-top: 2rem;
  margin-bottom: 10px;
  margin-top: 2rem; */
  display: flex;
  justify-content: center;
  
}

.first {
  margin: auto;
  width: 100%;
}  
/* .name {
  padding-top: 5rem;
  height: 200px;
} */
.photoContainer {
  background-color: white;
  border-radius: 50%;
  border: #263062 solid 10px;
  max-width: 400px;
  margin: 10px;
  
}

.pablo {
  display: flex;
  margin: auto;
  width: 70%;
  padding-top: 1rem;
  border-radius: 35%;
  padding-left: 0.5rem;
  
}

.name {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  
  
}
.nameDown {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  
}

.name span {
  color: var(--cyan);
  font-size: 30px;
  display: flex;
  justify-content: left;
  padding-left: 5%;
   
}
.nameDown span {
  color: var(--cyan);
  font-size: 18px;
  display: flex;
  justify-content: left;
  padding-left: 5%;
   
}
.change {
  font-weight: 600;
}
.job {
  text-align: center;
  padding-top: 1rem;
 
  z-index: 1;
  padding: 20px;
}

.job {
  font-size: 14px;
}

.hrStartSection {
  display: none;
}

.hrStartSection2 {
  background-color: white;
  max-width: 70%;
  width: 350px;
  margin: auto;
  height: 0.1rem;
}

.experience span {
  color: var(--cyan);
}

.header_icon {
  padding-top: 2rem;
  max-width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.link, .insta, .twitter {
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 50%;
}

.Logos {
  margin: auto;
  max-width: 1000px;
  padding: 2rem;
  background-position: center;
}
.imgr {
  -webkit-animation: 3s rotate linear infinite;
  animation: 10s rotate linear infinite;
  transform-origin: 50% 50%;
}

.imgr2 {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.menu a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #fcf7ff, #c9efff, #8690fe);
  z-index: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
  transform: scaleX(1);
}

.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  transform: scale(1.01);
}

/* *********************/ /* *********************/
/* <!-- SECCION Box Logos --> */
/* *********************/ /* *********************/
.logo__coffe {
  width: 100%;
  padding: 15px;
}

/* *********************/ /* *********************/
/* <!-- SECCION About Me --> */
/* *********************/ /* *********************/
.aboutme {
  padding-top: 1rem;
  
}

.name h1 {
  font-size: 50px;
  font-weight: bold;
}

.aboutmeTitle {
   
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.aboutmeTitle span {
   
}

.aboutmeTitle p {
  padding: 1rem 2rem;
}

.textServices span {
  font-size: 32px;
}

.textServices p {
  font-size: 18px;
  color: white;
}

/* *********************/ /* *********************/
/* <!-- SECCION Servicios --> */
/* *********************/ /* *********************/
.servicesTitle {
  display: flex;
  justify-content: center;
}

.servicesTitle span {
   
  font-size: 32px;
}

.services {
  display: inline-flex;
  text-align: center;
  max-width: 1200px;
  gap: 3%;
  padding: auto;
  justify-content: center;
}

.servicio {
  background-image: url(./vectores/semiround.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.servicio img {
  padding-top: 20%;
}

.servicio h4 {
  color: var(--black);
}

.servicio p {
  color: var(--grey);
  font-size: 16px;
  padding: 1rem;
}

.fila, .fila2, .fila3 {
  display: inline-flex;
  background-color: var(--white);
}

/* *********************/ /* *********************/
/* <!-- SECCION Mis Habilidades --> */
/* *********************/ /* *********************/
.contenedor-skills {
   
  background-position: center center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 2rem;
}

.contenedor-skills h3 {
  font-size: 32px;
   
}

.contenedor-skills .skill {
  max-width: 1200px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .barra {
  background-color: #ffffff;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: var(--cyan);
  width: 95%;
  height: 6px;
  -webkit-animation: progreso1 2s forwards;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: var(--cyan);
  width: 90%;
  height: 6px;
  -webkit-animation: progreso2 2s forwards;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: var(--cyan);
  width: 90%;
  height: 6px;
  -webkit-animation: progreso3 2s forwards;
  animation: progreso3 2s forwards;
}

.skill .info {
  margin: auto;
  padding: 1rem;
}

@-webkit-keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@-webkit-keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 98%;
  }
}
@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
/* *********************/ /* *********************/
/* <!-- SECCION Mis Habilidades --> */
/* *********************/ /* *********************/
.my-services-landing {
  text-align: center;
  width: 60%;
  margin: 150px auto;
}

.my-services-landing span {
  color: #f3b32a;
}

.my-services-landing p {
  margin: 0 auto;
}

.underline-services {
  width: 100px;
  height: 2px;
  background-color: #f3b32a;
  margin: 0 auto;
  margin-top: 30px;
}

.services-box-container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  overflow: hidden;
}

.service-box {
  width: 30%;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 15px;
}

.service-box i {
  font-size: 50px;
  color: #f3b32a;
}

.service-box h3 {
  font-size: 22px;
  font-weight: bold;
  
}

.service-box:hover {
  background-color: #f3b32a;
  color: #fff;

  transition: 0.1s;
}

.service-box:hover h3 {
  color: #fff;
}

.service-box:hover i {
  color: #fff;
}





.form-section .message.success {
  color: green;
}

.form-section .message.error {
  color: red;
}
/* *********************/ /* *********************/
/* <!-- SECCION Portafolio --> */
/* *********************/ /* *********************/
.tituloSeccion {
   
  text-align: center;
  font-size: 32px;
}

.portfolio {
  display: flex;
  max-height: 800px;
  padding: 50px 0;
  overflow-x: auto;
  gap: 2rem;
}

.portfolio .item {
   
  height: 480px;
  line-height: 80px;
  text-align: center;
}

#portfolio .fila {
  display: block;
}

#portfolio .fila .proyecto {
  margin: 10px auto;
}
/* Slideshow container ------------------------------------------------------------------------------*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* SlideShow Small */
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* *********************/ /* *********************/
/* <!-- SECCION Contacto --> */
/* *********************/ /* *********************/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacto {
  padding: 50px 15px;
}

#contacto .contenedor-form .mitad {
  margin-bottom: 15px;
  display: block;
}

#contacto .contenedor-form .mitad input {
  width: 100%;
  margin-bottom: 15px;
}

.contacInfo {
  display: inline-block;
   
}

[src="./íconos/phone.svg"], [src="./íconos/mail.svg"] {
  width: 80px;
}

/* *********************/ /* *********************/
/* <!-- SECCION Bye bye --> */
/* *********************/ /* *********************/
.love {
  justify-content: center;
  align-content: center;
}

.love h4 {
  color: #34B0Be;
}

.celNumber, .email {
  height: 200px;
  background-color: var(--white);
  width: 250px;
  border-radius: 2px;
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url(./vectores/semiround.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.celNumber h5, .email h5 {
  color: #000000;
  font-size: 16px;
}

.celNumber p, .email p {
  color: var(--grey);
  padding-top: 0.3rem;
  font-size: 16px;
}

/* <!-- SECCTION ByeBye --> */
.end {
  text-align: center;
}

.email img, .celNumber img {
  width: 90px;
}

/* *********************/
/* seccion Media */
/* *********************/
@media screen and (min-width: 800px) {
  .writer {
    display: block;
   }
   .change {
    padding-left: 5%;
  }
  .job p {
     
    padding-right: 100px;
  }
  .startWhoiam {
 
  }
  .whoiam {
    display: grid;
    padding-top: 0rem;
  }
  .bx-menu {
    display: none;
  }
  .menu {
    position: static;
    width: 60%;
    height: auto;
    flex-direction: row;
    transform: translateX(0);
    margin: 0 auto;
    background-color: transparent;
  }
  .contacInfo {
    display: flex;
     
    margin: auto;
    padding-left: 0%;
  }
  body {
    margin: auto;
    padding: auto;
  }
  .first {
    display: grid;
    background-color: inherit;
  }
  .hrStartSection {
    display: flex;
    width: 60%;
  }
  .hrStartSection2 {
    display: none;
  }
  .navbar {
    margin: 0 auto;
  }
  .contact {
    display: block;
    flex-direction: row;
    padding-top: 2rem;
  }
  .celNumber, .email {
    height: 250px;
    background-color: var(--white);
    width: 250px;
    border-radius: 2px;
    text-align: center;
    margin: auto;
    background-image: url(./vectores/semiround.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
  .celNumber p, .email p {
    color: var(--grey);
    font-size: 16px;
    padding-top: 1.5rem;
    width: 200px;
  }
  .celNumber h5, .email h5 {
    color: #000000;
    font-size: 18px;
    padding-top: 2.5rem;
  }
  [src="./íconos/google.png"], [src="./íconos/amazon.png"], [src="./íconos/spotify.png"] {
    width: 70px;
  }
  .name {
    padding-top: 3rem;
    margin: auto;
    text-align: left;
    font-size: 35px;
    width: 540px;
  }
  .name span {
    font-size: 80px;
  }
  .job h4 {
    text-align: left;
    font-size: 35px;
  }
  .experience {
    text-align: left;
    font-size: 35px;
  }
  .header_icon {
    gap: 1.8rem;
  }
  .whoiam {
    margin-left: -8rem;
  }
  .link, .insta, .twitter {
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 50%;
  }
  .Logos, .textServices {
    margin: auto;
    max-width: 1000px;
    padding: 1rem;
    background-position: center;
    min-width: 800;
  }

}
@media screen and (max-width: 600px) {
  .services {
    display: grid;
    grid-template-columns: 33%;
  }
}


@-webkit-keyframes color-change {
  0% {
    color: rgb(57, 191, 236);
  }
  50% {
    color: rgb(54, 255, 205);
  }
  100% {
    color: rgb(15, 154, 247);
  }
}

@keyframes color-change {
  0% {
    color: rgb(57, 191, 236);
  }
  50% {
    color: rgb(54, 255, 205);
  }
  100% {
    color: rgb(15, 154, 247);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}


.text-rainbow-animation {
  font-family: arial black;
  font-size: 20px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow-animation 10s linear infinite;
  animation: rainbow-animation 10s linear infinite;
}

@-webkit-keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
} 

 
 